.super-mario {
    width: 200px;
    position:relative;
  }
  
  .goomba {
    position: relative;
    width: 100px;
    margin-left:100px;
    bottom: 35px;
  }
  
  .baloon {
      position:absolute;
      z-index: 1;
      margin-left: 300px;
      bottom: 300px;
  
  }
  
  .speach {
      position:absolute;
      z-index: 2;
      font-size:20px;
      margin-left: 350px;
      bottom: 400px;

    
  }
  
  .bowser {
    position: relative;
    width: 300px;
    margin-left: 600px;
    bottom: 300px;
  }