lista {
    background-color: lavender;
}
.par {
    color: green;
}
.impar {
    text-transform:uppercase;
}
.header {
    color: red;
}
h1.header {
    font-size: 40px;
    border: solid;
    border-color: black;
    border-width: 1px;
}
li {
    font-size: 20px;
}
li em {
    font-weight: bold;
}
.azul {
    color: blue;
    margin-bottom: 2px;
}
.rosa {
    background-color: pink;
}
a{
    color: black;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
.laranja:hover{
    color: orangered;
}

.verde:hover{
    color:chartreuse;
}

.preto:hover{
    color:black;
}

.amarelo:hover{
    color:yellow;
}

.green:hover{
    color:green
}